solar-dynamics/integration/New Appointment - Send data/New Appointment - Send data to Pipedrive n8n v1.3.0.json
{
  "name": "New Appointment - Send data to Pipedrive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6f35f9d0-8dd4-482c-89da-32654157244f",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -1408,
        -304
      ],
      "id": "1c719455-0931-444e-ba3e-0063441629f4",
      "webhookId": "6f35f9d0-8dd4-482c-89da-32654157244f",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1392,
        256
      ],
      "id": "6134fba2-b678-4540-8097-3398237a6371",
      "name": "CallTools Webhook",
      "webhookId": "new-appointment-webhook",
      "notes": "Receives appointment data from CallTools"
    },
    {
      "parameters": {
        "amount": 25,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1200,
        -96
      ],
      "id": "7e18fe68-3b79-42ec-a3d6-2bb1633f57c3",
      "name": "Delay (25 seconds)",
      "notes": "Random delay of 25 seconds as in original Make.com workflow"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Appointment data received successfully",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1120,
        432
      ],
      "id": "b4b7fe71-fe39-426f-a829-79a06ca414df",
      "name": "Webhook Response"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('CallTools Webhook').item.json.appt_time }}",
        "format": "yyyy-MM-dd",
        "outputFieldName": "app_date",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -928,
        -96
      ],
      "id": "75766ef0-c98b-402e-9746-d3d4cb0f0938",
      "name": "App Date"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $('CallTools Webhook').item.json.appt_time }}",
        "part": "hour",
        "outputFieldName": "app_time_hour",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -720,
        -96
      ],
      "id": "990a305e-c801-41c1-a26b-6043f1529086",
      "name": "App Time Hours"
    },
    {
      "parameters": {
        "operation": "extractDate",
        "date": "={{ $('CallTools Webhook').item.json.appt_time }}",
        "part": "minute",
        "outputFieldName": "app_time_minute",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -544,
        -96
      ],
      "id": "10efc9ac-8a3b-4c1c-a06c-61db4b164935",
      "name": "App Time Minute"
    },
    {
      "parameters": {
        "url": "=https://api.pipedrive.com/v1/persons/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "term",
              "value": "={{ $('CallTools Webhook').item.json.address1 + ' ' + $('CallTools Webhook').item.json.zip + ' USA' }}"
            },
            {
              "name": "fields",
              "value": "custom_fields"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        -96
      ],
      "id": "cb346d14-d2cf-4888-9425-5233e17f8842",
      "name": "Search Person by Address",
      "credentials": {
        "pipedriveApi": {
          "id": "OCkMW4C00h260Ml4",
          "name": "Pipedrive account"
        }
      },
      "notes": "Search for existing person by address"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1,
            "convertTypes": true
          },
          "conditions": [
            {
              "id": "person-found-condition",
              "leftValue": "={{ $json.data.items }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        288,
        -96
      ],
      "id": "9f0931e9-8f0a-4c7e-8d0b-70fa98265e14",
      "name": "IF: Person Found by Address",
      "notes": "If person found by address, search by phone"
    },
    {
      "parameters": {
        "url": "=https://api.pipedrive.com/v1/persons/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "term",
              "value": "={{ $('CallTools Webhook').item.json.phone }}"
            },
            {
              "name": "fields",
              "value": "phone"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        -112
      ],
      "id": "eb1c0646-bb7d-4fc4-8047-af5ece609b67",
      "name": "Search Person by Phone",
      "credentials": {
        "pipedriveApi": {
          "id": "OCkMW4C00h260Ml4",
          "name": "Pipedrive account"
        }
      },
      "notes": "Search for existing person by phone (only if person found by address)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1,
            "convertTypes": true
          },
          "conditions": [
            {
              "id": "no-person-anywhere-condition",
              "leftValue": "={{ $('Search Person by Address').item.json.data.items.length === 0 && $('Search Person by Phone').item.json.data.items.length === 0 }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        768,
        -112
      ],
      "id": "2d89f0a0-03d6-431f-b357-c252c456f3dc",
      "name": "IF: No Person Found Anywhere",
      "notes": "Create person only if both searches return no results"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "create",
        "name": "={{ $('CallTools Webhook').item.json.first_name + ' ' + $('CallTools Webhook').item.json.last_name }}",
        "email": "={{ $('CallTools Webhook').item.json.email || 'no@email.com' }}",
        "phone": "={{ $('CallTools Webhook').item.json.phone || '0' }}",
        "owner_id": "21787216",
        "customProperties": {
          "property": [
            {
              "name": "83e0f0b2b93392c7a2b506e7cdcbe3f99c977710",
              "value": "={{ $('CallTools Webhook').item.json.phone2 || '0' }}"
            },
            {
              "name": "c3ad3960f747fd25327ddc35f4bc6193fd73b21c",
              "value": "={{ $('CallTools Webhook').item.json.address1 + ' ' + $('CallTools Webhook').item.json.zip + ' USA' }}"
            },
            {
              "name": "c6586c5a3427ecde25bf258dc1cf808ec31bf381",
              "value": "={{ $('CallTools Webhook').item.json.phone1 || '0' }}"
            },
            {
              "name": "d2dbb408ed1a731162ec4d08b638c636e0fc4e68",
              "value": "={{ $('CallTools Webhook').item.json.language }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        768,
        48
      ],
      "id": "ee26dfe6-5b51-4c28-b87e-71c98fd1e1bd",
      "name": "Create New Person",
      "credentials": {
        "pipedriveApi": {
          "id": "OCkMW4C00h260Ml4",
          "name": "Pipedrive account"
        }
      },
      "notes": "Create new person with appointment data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2,
            "convertTypes": true
          },
          "conditions": [
            {
              "id": "contact-exists-condition",
              "leftValue": "={{ $('Search Person by Phone').item.json.data.items }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        -128
      ],
      "id": "9b2ae71c-8812-4f2f-9b39-d269ce9fcb66",
      "name": "If: Contact Still Exists",
      "notes": "Check if person still exists from phone search"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "update",
        "personId": "={{ $('Search Person by Phone').item.json.data.items[0].item.id }}",
        "updateFields": {
          "customProperties": {
            "property": [
              {
                "name": "c3ad3960f747fd25327ddc35f4bc6193fd73b21c",
                "value": "={{ $('CallTools Webhook').item.json.address1 + ' ' + $('CallTools Webhook').item.json.zip + ' USA' }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1632,
        -144
      ],
      "id": "04800b87-c691-4ac6-8c72-a41abc5dded8",
      "name": "Update Person",
      "credentials": {
        "pipedriveApi": {
          "id": "OCkMW4C00h260Ml4",
          "name": "Pipedrive account"
        }
      },
      "notes": "Update person address"
    },
    {
      "parameters": {
        "url": "=https://api.pipedrive.com/v1/persons/{{ $('Update Person').item.json.id }}/deals",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        -144
      ],
      "id": "b1eb55b9-3e51-4a73-a379-7c0327ac8eb6",
      "name": "GET DEALS",
      "credentials": {
        "pipedriveApi": {
          "id": "OCkMW4C00h260Ml4",
          "name": "Pipedrive account"
        }
      },
      "notes": "Get deals for the person"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2,
            "convertTypes": true
          },
          "conditions": [
            {
              "id": "deals-exist-condition",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2048,
        -144
      ],
      "id": "f9875643-4211-4209-b8f1-84d32a0d7587",
      "name": "If: Deals Exist",
      "notes": "Check if person has existing deals"
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "update",
        "dealId": "={{ $json.data[0].id }}",
        "updateFields": {
          "customProperties": {
            "property": [
              {
                "name": "ed919c59cbec1457c03cd290a1f1b0cc71abdf5e",
                "value": "={{ $('App Time Hours').item.json.app_time_hour }}:{{ $('App Time Minute').item.json.app_time_minute }}"
              },
              {
                "name": "270dbba043470e3364e6eaea03a521e8620b588b",
                "value": "={{ $('CallTools Webhook').item.json.customField5 }}"
              },
              {
                "name": "50419ffc48bdc4a0d87e572bdf75ca4f492b8767",
                "value": "={{ $('CallTools Webhook').item.json.AVGbill }}"
              },
              {
                "name": "88881597915b06c5c2ca4f9f2aa0965ee1eda5e7",
                "value": "={{ $('App Date').item.json.app_date }} {{ $('App Time Hours').item.json.app_time_hour }}:{{ $('App Time Minute').item.json.app_time_minute }}:00"
              },
              {
                "name": "1e6d4acdadd51f326f1238f7fad179a94f618c82",
                "value": "={{ $('App Date').item.json.app_date }}"
              },
              {
                "name": "e956a107e131de41a7c45f7a803b181ba5ddfac4",
                "value": "={{ $('CallTools Webhook').item.json.lead_source }}"
              }
            ]
          },
          "user_id": 21787216,
          "stage_id": 3,
          "status": "open",
          "title": "={{ $('Update Person').item.json.first_name }} {{ $('Update Person').item.json.last_name }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2304,
        -160
      ],
      "id": "526fa10f-4e3a-457c-ba2e-45d33ca8ad25",
      "name": "Update Existing Deal",
      "credentials": {
        "pipedriveApi": {
          "id": "OCkMW4C00h260Ml4",
          "name": "Pipedrive account"
        }
      },
      "notes": "Update existing deal with appointment details"
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "content": "={{ $('CallTools Webhook').item.json.apptcomments || 'no comments' }}",
        "additionalFields": {
          "deal_id": "={{ $json.id }}",
          "person_id": "={{ $('Update Person').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2480,
        -160
      ],
      "id": "e3c9335a-ac41-4793-8a4d-5894064158f8",
      "name": "Create Note",
      "credentials": {
        "pipedriveApi": {
          "id": "OCkMW4C00h260Ml4",
          "name": "Pipedrive account"
        }
      },
      "notes": "Create note with appointment details"
    },
    {
      "parameters": {
        "resource": "activity",
        "operation": "create",
        "subject": "={{ 'Appointment with ' + $('CallTools Webhook').item.json.first_name + ' ' + $('CallTools Webhook').item.json.last_name }}",
        "type": "meeting",
        "additionalFields": {
          "deal_id": "={{ $('GET DEALS').item.json.data[0].id }}",
          "due_date": "={{ $('App Date').item.json.app_date }} {{ $('App Time Hours').item.json.app_time_hour }}:{{ $('App Time Minute').item.json.app_time_minute }}:00",
          "note": "={{ $('CallTools Webhook').item.json.apptcomments }}",
          "person_id": "={{ $('Update Person').item.json.id }}",
          "user_id": 11445306,
          "customProperties": {
            "property": [
              {
                "name": "location",
                "value": "={{ $('CallTools Webhook').item.json.address1 }} {{ $('CallTools Webhook').item.json.zip }} USA"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        2640,
        -160
      ],
      "id": "6ad54f2a-ad71-4ac8-9f45-4a5c78af9ee4",
      "name": "Create Activity",
      "credentials": {
        "pipedriveApi": {
          "id": "OCkMW4C00h260Ml4",
          "name": "Pipedrive account"
        }
      },
      "notes": "Create activity for the appointment"
    },
    {
      "parameters": {
        "resource": "deal",
        "operation": "create",
        "title": "={{ 'Appointment - ' + $('CallTools Webhook').item.json.first_name + ' ' + $('CallTools Webhook').item.json.last_name }}",
        "person_id": "={{ $('Create New Person').item.json.id }}",
        "owner_id": "21787216",
        "stage_id": "1",
        "pipeline_id": "1",
        "customProperties": {
          "property": [
            {
              "name": "ed919c59cbec1457c03cd290a1f1b0cc71abdf5e",
              "value": "={{ $('App Time Hours').item.json.app_time_hour }}:{{ $('App Time Minute').item.json.app_time_minute }}"
            },
            {
              "name": "270dbba043470e3364e6eaea03a521e8620b588b",
              "value": "={{ $('CallTools Webhook').item.json.customField5 }}"
            },
            {
              "name": "50419ffc48bdc4a0d87e572bdf75ca4f492b8767",
              "value": "={{ $('CallTools Webhook').item.json.AVGbill }}"
            },
            {
              "name": "88881597915b06c5c2ca4f9f2aa0965ee1eda5e7",
              "value": "={{ $('App Date').item.json.app_date }} {{ $('App Time Hours').item.json.app_time_hour }}:{{ $('App Time Minute').item.json.app_time_minute }}:00"
            },
            {
              "name": "1e6d4acdadd51f326f1238f7fad179a94f618c82",
              "value": "={{ $('App Date').item.json.app_date }}"
            },
            {
              "name": "e956a107e131de41a7c45f7a803b181ba5ddfac4",
              "value": "={{ $('CallTools Webhook').item.json.lead_source }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1008,
        48
      ],
      "id": "d6f72ada-4eeb-493a-a5d3-b71299be485c",
      "name": "Create New Deal",
      "credentials": {
        "pipedriveApi": {
          "id": "OCkMW4C00h260Ml4",
          "name": "Pipedrive account"
        }
      },
      "notes": "Create deal for the appointment"
    },
    {
      "parameters": {
        "resource": "note",
        "operation": "create",
        "content": "={{ 'Appointment Details:\\n' + 'Name: ' + $('CallTools Webhook').item.json.first_name + ' ' + $('CallTools Webhook').item.json.last_name + '\\n' + 'Phone: ' + $('CallTools Webhook').item.json.phone + '\\n' + 'Address: ' + $('CallTools Webhook').item.json.address1 + '\\n' + 'City: ' + $('CallTools Webhook').item.json.city + ', ' + $('CallTools Webhook').item.json.state + ' ' + $('CallTools Webhook').item.json.zip + '\\n' + 'Appointment Time: ' + $('CallTools Webhook').item.json.appt_time + '\\n' + 'Status: ' + $('CallTools Webhook').item.json.appt_status + '\\n' + 'Agent: ' + $('CallTools Webhook').item.json.agent }}",
        "additionalFields": {
          "deal_id": "={{ $('Create New Deal').item.json.id }}",
          "person_id": "={{ $('Create New Person').item.json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1200,
        48
      ],
      "id": "e21614d1-fb53-483d-b782-0bbb2dd2e17c",
      "name": "Create New Note",
      "credentials": {
        "pipedriveApi": {
          "id": "OCkMW4C00h260Ml4",
          "name": "Pipedrive account"
        }
      },
      "notes": "Create note with appointment details"
    },
    {
      "parameters": {
        "resource": "activity",
        "operation": "create",
        "subject": "={{ 'Appointment - ' + $('CallTools Webhook').item.json.first_name + ' ' + $('CallTools Webhook').item.json.last_name }}",
        "type": "meeting",
        "additionalFields": {
          "due_date": "={{ $('CallTools Webhook').item.json.appt_time }}",
          "deal_id": "={{ $('Create New Deal').item.json.id }}",
          "person_id": "={{ $('Create New Person').item.json.id }}",
          "owner_id": "21787216",
          "customProperties": {
            "property": [
              {
                "name": "appt_status",
                "value": "={{ $('CallTools Webhook').item.json.appt_status }}"
              },
              {
                "name": "agent",
                "value": "={{ $('CallTools Webhook').item.json.agent }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1400,
        48
      ],
      "id": "0c9a7bae-e0fd-4c4e-94c4-44758f68d24a",
      "name": "Create New Activity",
      "credentials": {
        "pipedriveApi": {
          "id": "OCkMW4C00h260Ml4",
          "name": "Pipedrive account"
        }
      },
      "notes": "Create activity for the appointment"
    }
  ],
  "pinData": {
    "CallTools Webhook": [
      {
        "json": {
          "zip": "33446",
          "city": "delray beach",
          "agent": "Christian Merino",
          "email": null,
          "label": "FPL",
          "phone": "+14169998848",
          "state": "FL",
          "phone1": null,
          "phone2": null,
          "AVGbill": null,
          "address1": "15050 Jog Rd",
          "language": "English",
          "appt_time": "2025-10-17T14:37:00-04:00",
          "last_name": "Testing",
          "first_name": "Eugene",
          "appt_status": "QA",
          "lead_source": "CallTools",
          "schema_name": "solardynamicsenergy",
          "apptcomments": null,
          "customField5": "Christian Merino"
        }
      }
    ]
  },
  "connections": {
    "CallTools Webhook": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delay (25 seconds)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delay (25 seconds)": {
      "main": [
        [
          {
            "node": "App Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "App Date": {
      "main": [
        [
          {
            "node": "App Time Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "App Time Hours": {
      "main": [
        [
          {
            "node": "App Time Minute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "App Time Minute": {
      "main": [
        [
          {
            "node": "Search Person by Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Person by Address": {
      "main": [
        [
          {
            "node": "IF: Person Found by Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Person Found by Address": {
      "main": [
        [
          {
            "node": "Search Person by Phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF: No Person Found Anywhere",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Person by Phone": {
      "main": [
        [
          {
            "node": "IF: No Person Found Anywhere",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: No Person Found Anywhere": {
      "main": [
        [
          {
            "node": "Create New Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Person": {
      "main": [
        [
          {
            "node": "Create New Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Deal": {
      "main": [
        [
          {
            "node": "Create New Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Note": {
      "main": [
        [
          {
            "node": "Create New Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Person Found by Address": {
      "main": [
        [
          {
            "node": "If: Contact Still Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Contact Still Exists": {
      "main": [
        [
          {
            "node": "Update Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Person": {
      "main": [
        [
          {
            "node": "GET DEALS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET DEALS": {
      "main": [
        [
          {
            "node": "If: Deals Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Deals Exist": {
      "main": [
        [
          {
            "node": "Update Existing Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Deal": {
      "main": [
        [
          {
            "node": "Create Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Note": {
      "main": [
        [
          {
            "node": "Create Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Response": {
      "main": [
        []
      ]
    },
    "Create New Activity": {
      "main": [
        []
      ]
    },
    "Create Activity": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "4d4bd12f-e896-4a26-90d2-7b15d356e845",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d8a78a109a53b676a8b2f4d61f71ae96361d5bd920d1f06867a47b3c76f5a17"
  },
  "id": "w2r7CzRIt9MMXXgW",
  "tags": []
}
